.footer {
  text-align: center;
  padding: 20px;
  background: #222;
  color: white;
  margin-top: 40px;
  font-size: 1rem;
}

.social-icons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 15px;
}

.icon {
  font-size: 30px;
  transition: transform 0.3s ease-in-out, color 0.3s;
}

.linkedin {
  color: #0e76a8;
}

.github {
  color: white;
}

.email {
  color: #c71610;
}

.icon:hover {
  transform: scale(1.2);
  opacity: 0.8;
}
