* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f5f5f5 ;
  text-align: center;
  scroll-behavior: smooth;
  overflow-x: hidden;
}


/* Home Section */
.home {
  padding-top: 120px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Sections - About, Projects, Contact, Fun Facts, Hobbies, Blog, Hiring, Achievements, techstack, volunteer, certifications*/
.achievements, .blog, .certifications, .contact, .education, .funfacts, .goal-section, 
.hiring-container, .hobbies, .projects,.techstack, .volunteer{

  padding: 80px 20px;
  background-color: white;
  margin: 50px auto;
  width: 80%;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}



/* Hover Effect */
 .projects:hover, .contact:hover, .funfacts:hover, .techstack:hover,
.goal-section:hover,.hobbies:hover, .blog:hover, .hiring-container:hover, 
.achievements:hover, .volunteer:hover, .education:hover, .certifications:hover {

  transform: scale(1.02);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}

/* Contact Section */
.contact a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.contact a:hover {
  color: #0056b3;
}
